body {
    background-color: #8ebf9b;
    color: #1c3d21;
}

img {
    width: 120px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

#webpage_name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #115924;
}

#info {
    padding: 0.1%;
}

#login {
    float: right;
    display: inline;
    margin-right: 1.5%;

}

#nav_bar {
    margin: 1.5%;
    padding: 1%;
    list-style-type: none;
    background-color: #6f8f73;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
}

#nav {
    margin: 0;
    padding: 1%;
    display: inline;
    font-size: 150%;
    text-align: center;
}

#login_box{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    padding: 1%;
    width: 40%;
    height: 30%;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
    background-color: #6f8f73;
}

#login_form{
    text-align: center;
}

#form_input{
    margin-left: 2%;
}