body {
    background-color: #8ebf9b;
    color: #1c3d21;
}

img {
    width: 120px;
}

#webpage_name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #115924;
}

#login {
    float: right;
    display: inline;
    margin-right: 1.5%;

}

#nav_bar {
    margin: 1.5%;
    padding: 1%;
    list-style-type: none;
    background-color: #6f8f73;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
}

#nav {
    margin: 0;
    padding: 1%;
    background-color: #6f8f73;
    display: inline;
    font-size: 150%;
    text-align: center;
    color: #1c3d21;
}

#nav:hover {
    background-color: #536955;
}

#online_users{
    float: left;
    margin-left: 1.5%;
    padding: 1%;
    width: 25%;
    height: 65%;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
    background-color: #6f8f73;
}

#user {
    padding: 0.1%;
}

#updates{
    float: right;
    margin-right: 1.5%;
    padding: 1%;
    width: 64.5%;
    height: 65%;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
    background-color: #6f8f73;
}

#info {
    padding: 0.1%;
}