body {
    background-color: #8ebf9b;
    color: #1c3d21;
}

img {
    width: 120px;
}



#webpage_name {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #115924;
}

#login {
    float: right;
    display: inline;
    margin-right: 1.5%;

}

#nav_bar {
    margin: 1.5%;
    padding: 1%;
    list-style-type: none;
    background-color: #6f8f73;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
}

#nav {
    margin: 0;
    padding: 1%;
    background-color: #6f8f73;
    display: inline;
    font-size: 150%;
    text-align: center;
    color: #1c3d21;
}

#nav:hover {
    background-color: #536955;
}

#online_users{
    float: left;
    margin-left: 1.5%;
    padding: 1%;
    width: 25%;
    height: 65%;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
    background-color: #6f8f73;
    overflow: scroll;
}

#user {
    padding: 0.1%;
}



#chat {
    float: right;
    margin-right: 1.5%;
    padding: 1%;
    width: 64.5%;
    height: 65%;
    border-style: ridge;
    border-width: thick;
    border-color: #115924;
    background-color: #6f8f73;
}

#info {
    padding: 0.1%;
}

#chatbox {
    margin: 1.5%;
    background-color: #b7c9b7;
    height: 75%;
    border-style: solid;
    border-color: #115924;
    overflow: scroll;
}

#chat_texts {
    padding: 0.12%;
}

#chat_text {
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#chat_form {
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #b7c9b7;
    border-style: solid;
    border-color: #115924;
}

#chat-form {
    padding-top: 1%;
}